@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* scrollbar */
/* Styles for the whole page's scrollbar */
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #a30e47 black; /* Firefox: thumb and track colors */
}

/* Styles for the scrollbar for Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

body::-webkit-scrollbar-track {
  background: black; /* Color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: #a30e47; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Roundness of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background: #800b38; /* Color of the scrollbar thumb on hover */
}

/*  */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
div, button{
  box-sizing: border-box;
}
header,footer{
  background-color: black;
}
.containers{
  max-width: 1400px;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
